.app-bar {
    background-color: #FFFFFF;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    color: black;
    height: 60px;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    border-bottom: 2px solid #E5E5E5;
  }
  
  .app-bar-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav li {
    cursor: pointer;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    max-width: 200px; /* Adjust the size as needed */
    height: 55px;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif; /* Use your preferred font family here */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  